<p id="notice"><%= notice %></p>

<div class="container my-5">

  <div class="cards">

    <% @personal_data.each do |personal_datum| %>

      <div class="card-category">

        <div class="my-3" >
          <h2><%= "Nome: #{personal_datum.user.first_name}" %></h2>
        </div>

        <div class="my-3" >
          <h2><%= "Sobrenome: #{personal_datum.user.last_name}" %></h2>
        </div>

        <div class="my-3" >
          <h2><%= "CPF: #{personal_datum.user.cpf}" %></h2>
        </div>

        <div class="my-3" >
          <h2><%= "Email: #{personal_datum.user.email}" %></h2>
        </div>

        <div class="my-3" >
          <h2><%= "Onde está o dado: #{personal_datum.datum_font}" %></h2>
        </div>

        <div class="my-3" >
          <h2><%= "Dados solicitados: #{personal_datum.datum_information}" %></h2>
        </div>

        <div class="my-3" >
          <h2><%= "Quem tem acesso ao dado: #{personal_datum.datum_access}" %></h2>
        </div>

      </div>
    <% end %>

  </div>

</div>















