<!-- <h1>personal_data#view_index_page</h1>

<h2>Oi, Tanise ! Oi, Victor ! Eu sou a view do personal_data index: index personal_data#view_index_page !!!</h2>

<p>Find me in app/views/personal_data/index.html.erb</p>

<h1><%= @personal_data.first.datum_font %></h1>

<h1><%= @personal_data.first.datum_information %></h1>

<h1><%= @personal_data.first.datum_access %></h1> -->


<p id="notice"><%= notice %></p>



<div class="container my-5">

  <div class="cards">

    <% @personal_data.each do |personal_datum| %>

      <div class="card-category">


        <div class="my-3" >
          <h2><%= personal_datum.user.first_name %></h2>
        </div>


        <div class="my-3" >
          <h2><%= personal_datum.datum_font %></h2>
        </div>

        <div class="my-3">
          <h3><%= link_to personal_datum.datum_information , personal_datum, class: "btn-show" %></h3>
        </div>

        <div class="my-3" >
          <h2><%= personal_datum.datum_access %></h2>
        </div>

      </div>
    <% end %>

  </div>

</div>















