<div class="container w-50 p-5 text">

<center><h1>Esqueceu sua senha?</h1></center>

<br>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <br><center><%= render "devise/shared/links" %></center><br>
    <center><%= f.button :submit, "Instruções de senha" %></center>
  </div>
<% end %>
