<div class="container w-50 mt-4 p-5 text">

              <%= simple_form_for(@requisition) do |f| %>

                    <div class="text-center text">
                    <h1>Faça sua solicitação no formulário</h1>
                    </div>

                    <br>

                    <div class="form-inputs">

                      <div class="w-100 p-2">
                        <%= f.input :field_name, label: 'Conteúdo a ser Solicitado', collection: PersonalDatum.all.pluck(:datum_font).uniq %>
                      </div>

                      <div class="w-100 p-2">

                        <%= f.input :justification, label: 'Justificativa da Solicitação' %>
                        <div class="form-actions">
                        <br>
                          <%unless current_user.requisitions.select{|requisition| requisition.status == "aprovada"}.empty? %>
                          <div class="w-50 p-2">
                            <%= f.input :new_value, label: 'Novo Valor a Ser Utilizado' %>
                            <%= f.input :excluded,label: 'Selecione se Deseja Excluir o dado' %>
                          </div>
                        <% end %>
                          <center><%= f.button :submit, 'Submeter', class: 'btn btn-primary' %></center>

                        </div>

                      </div>

                    </div>

                  <% end %>

                <center>%= link_to 'voltar', user_root_path %></center>

</div>
