<div class="container">

    <div class="row">

        <div class="card-trip new">

            <div class="col-md-12 p-5">


              <%= simple_form_for([@user, @requisition]) do |f| %>

                    <div class="text-center text">
                    <h1>Faça sua solicitação no formulário abaixo!</h1>
                    </div>

                    <div class="form-inputs">

                      <div class="w-100 p-2">
                        <%= f.input :field_name, label: 'Conteúdo a ser Solicitado', collection: PersonalDatum.all.pluck(:datum_font).uniq %>
                      </div>

                      <div class="w-100 p-2">

                        <%= f.input :justification, label: 'Justificativa da Solicitação' %>
                        <div class="form-actions">
                        <br>
                          <%unless current_user.requisitions.select{|requisition| requisition.status == "aprovada"}.empty? %>
                          <div class="w-50 p-2">
                            <%= f.input :new_value, label: 'Novo Valor a Ser Utilizado', collection: PersonalDatum.all.pluck(:datum_font).uniq %>
                          </div>
                        <% end %>
                          <center><%= f.button :submit, 'Submeter', class: 'btn btn-primary' %></center>
                        </div>

                      </div>

                    </div>

                  <% end %>

                <center><%= link_to 'Voltar', user_root_path %></center>


            </div>


        </div>

    </div>

</div>
