<div class="container">

    <div class="card primary mt-4 ml-3 text-primary border border-primary">
        <div class="ml-4 mt-3 mr-3">
        <h5>Dados disponíveis referentes à solicitação #<%= @requisition.id %> - Prefeitura de Santo Rails</h5>
        </div>


        <div class="my-3 p-3 bg-white">
            <h6 class="card-header border-gray pb-2 mb-0">Dados pessoais do solicitante</h6>
            <div class="media text-muted pt-3 ml-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><%= "Nome: #{@user.first_name} #{@user.last_name}" %></strong>
            </p>
            </div>

            <div class="media text-muted pt-3 ml-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><%= "Email: #{@user.email}" %></strong>
            </p>
            </div>

            <div class="media text-muted pt-3 ml-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><%= "CPF: #{@user.cpf}" %></strong>
            </p>
            </div>

        </div>

        <div class="my-3 p-3 bg-white">
            <h6 class="card-header border-gray pb-2 mb-0"><%= @requisition.field_name %></h6>
            <div class="media text-muted pt-3 ml-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Solicitação</strong>
                <%= @requisition.justification %>
            </p>
            </div>
            <%if @requisition.personal_datum.nil? %>
              <div class="media text-muted pt-3 ml-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Dados pessoais solicitados:</strong>
                Não foi possível encontrar informações sobre sua solicitação.
            </p>
            </div>

            <%elsif @requisition.personal_datum.datum_font == "" %>

              <div class="media text-muted pt-3 ml-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Dados pessoais solicitados:</strong>
                Seus dados foram deletados com sucesso.
            </p>
            </div>
            <% else %>
              <div class="media text-muted pt-3 ml-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Dados pessoais solicitados:</strong>
                <%= "De acordo com a solicitação #{@requisition.id}, as informações referentes ao #{@requisition.field_name} dizem respeito a #{@requisition.personal_datum.datum_information}, sendo que o acesso a tais informações é de #{@requisition.personal_datum.datum_access}" %>
              </p>
              </div>
          <% end %>

            <small class="d-block text-right mt-3">

            </small>
            <%= link_to 'voltar', user_root_path %>

    </div>

</div>
